@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

.navbar-right { margin-right: 0px !important}
.log {
    margin: 5px 20px 0 0;
}
.videos {
  border: 1px solid red;
  height:400px;
}
#root {
  font-family: 'Sen', sans-serif;
  /* height: 100vh; */
  /* position: fixed; */
  background: #334d50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #170312, #33032f);  /*Chrome 10-25, Safari 5.1-6*/
  background: linear-gradient(to right, #0000AA, #E74D5C); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
}
.dark {
  background-color: #02394a;
  transition: 1s;
}

.dark.expand-on-hover:hover {
  background-color: crimson;
}

.body { 
  padding-top: 50px; 
  color: #F8F9DE;
  overflow-y: hidden;
}

.sidebar {
  padding-top: 100px;
  width: 42%;
  min-height: 100%;
  top: 0;
  right: 0;
  position: fixed;
}

.results {
  width: 55% !important;
}
